
<%- include('../public/partials/header.ejs') %>
    <title>Question</title>
  </head>
  <body>
    <%- include('../public/partials/navbar.ejs') %>
   <div class="container">
 
    <br>

     
   </div>
  </body>

  <%- include('../public/partials/footer.ejs') %>