<nav class="navbar navbar-light justify-content-center" style="background-color: #fff">
    <a class="navbar-brand" href="/">
      <img src="https://ks.pl/gfx/uploads/blog/99/logo-yahoo.webp" height="30"  class="d-inline-block align-top" alt="" />
    </a>
  </nav>